{% extends 'social/layout.html' %}

{% load humanize %}

{% block content %}

{% for post in posts %}
<article>
    <div class="container-article">
        <img class="user-profile" src="{{ post.user.profile.image.url }}">
        <div>
            <h2 class="username"><a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></h2>
            <div class="post">
                {{ post.title }}
                <time data-time="#">{{ post.timestamp|naturaltime }}</time>
                
            </div>
            <div class="description">{{ post.description }}</div>
            <div class="posts">
                <img class="post-img" src="/media/{{post.image}}"/>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        {% if request.user.username == post.user.username %}
            <div class="delete">
                <a href="post/{{post.id}}">
                    <img src="../../static/delete.png" width="18" height="auto"/>
                </a>
            </div>
        {% endif %}
    {% endif %}
        
    </div>

    
    
</article>
{% endfor %}

{% endblock %}