<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Social Network</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

	<header class="main-head">
		<nav class="main">
			
			{% if user.profile %}
				<div class="app">
					<img src="{{ user.profile.image.url }}"  width="50" height="auto"/>
					<h1 id="user"> @{{ user.username }}</h1>
				</div>
			{% else %}
			<div class="app">
				<img class="app" src="../../static/social-media.png"  width="50" height="auto"/>
				<h1 id="user"> SocialNetwork </h1>
			</div>
			
			{% endif %}
			
			
			<ul>
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
					<li><a href="{% url 'register' %}">Register</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
				
				
			</ul>
		</nav>
	</header>

	{% if messages %}
		{% for message in messages %}
			<div class="notification">
				<div class="content-message {{ message.tags }}">{{ message }}</div>
			</div>
		{% endfor %}
	{% endif %}

	<div class="main">
		
		<nav class="second-nav">
			<a class="feed" href="{% url 'feed' %}">Home</a>
			{% if request.user.is_authenticated %}
				<a class="profile" href="{% url 'profile' request.user.username %}">Profile</a>
				<a class="new" href="{% url 'post' %}">Post</a>
			{% endif %}
			
		</nav>


		{% block content %}

		{% endblock content %}



	</div>

	<footer>
		<div class="row">
			<p>SocialNetwork Simulation<br>Made by: <a href="http://www.github.com/vincemis610">Vince Mis</a></p>
		</div>
	</footer>

</body>
</html>